<a href="https://colab.research.google.com/github/bches/group_math/blob/main/Group_Math_and_Galois_Integers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction
This notebook compares the output of the [group_math](http://www.kharasso.com/group/) project with that of the galois project for the [integer examples on the galois website](https://galois.readthedocs.io/en/v0.3.3/tutorials/intro-to-prime-fields/).

In [1]:
!pip install galois
import galois
from random import randint
from itertools import permutations

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting galois
  Downloading galois-0.3.5-py3-none-any.whl (4.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 53.7 MB/s eta 0:00:00
Requirement already satisfied: numpy<1.25,>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from galois) (1.22.4)
Requirement already satisfied: numba<0.58,>=0.55 in /usr/local/lib/python3.10/dist-packages (from galois) (0.56.4)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from galois) (4.5.0)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /usr/local/lib/python3.10/dist-packages (from numba<0.58,>=0.55->galois) (0.39.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from numba<0.58,>=0.55->galois) (67.7.2)
Installing collected packages: galois
Successfully installed galois-0.3.5

In [2]:
GF7 = galois.GF(7)
print(GF7.properties)
print(GF7.elements)

Galois Field:
  name: GF(7)
  characteristic: 7
  degree: 1
  order: 7
  irreducible_poly: x + 4
  is_primitive_poly: True
  primitive_element: 3
[0 1 2 3 4 5 6]

In [3]:
from google.colab import drive
drive.mount('/content/drive')

# if its already cloned, then pull the latest:
%cd /content/drive/MyDrive/projects/group_math/
!git pull origin main

# otherwise, clone it:
#%cd /content/drive/MyDrive/projects/
#!git clone https://github.com/bches/group_math.git

Mounted at /content/drive
/content/drive/MyDrive/projects/group_math
From https://github.com/bches/group_math
 * branch            main       -> FETCH_HEAD
Already up to date.

In [4]:
%cd /content/drive/MyDrive/projects/group_math/src/
from groups import group, incremental_set, additive_group, multiplicative_group

/content/drive/MyDrive/projects/group_math/src

# Simple Test
3 + 5 modulo 7

In [5]:
a = GF7(3)
b = GF7(5)
print('a+b=',a+b)

add_grp = additive_group(incremental_set(0,6))
print('add_grp=', add_grp)
print()
print('a+b=', add_grp.synthesize(3,5))

a+b= 1
add_grp= <Instance of additive_group at addr 140119894533376:
	identity = 0,
	members = array('i', [0, 1, 2, 3, 4, 5, 6]),
	inverse = array('i', [0, 6, 5, 4, 3, 2, 1]),
	subop = <Instance of incremental_set at addr 140119894536448:
	index = 0,
	members = array('i', [0, 1, 2, 3, 4, 5, 6])>,
	isBijective: True>


a+b= 1

# Integer Addition over GF7

In [6]:
for x, y in permutations(range(7), 2):
  result1 = GF7(x) + GF7(y)
  result2 = add_grp.synthesize(x,y)
  passed = result1 == result2
  print('%s + %s = %s = %s (%s)' % (x,y,result1,result2, passed))

0 + 1 = 1 = 1 (True)
0 + 2 = 2 = 2 (True)
0 + 3 = 3 = 3 (True)
0 + 4 = 4 = 4 (True)
0 + 5 = 5 = 5 (True)
0 + 6 = 6 = 6 (True)
1 + 0 = 1 = 1 (True)
1 + 2 = 3 = 3 (True)
1 + 3 = 4 = 4 (True)
1 + 4 = 5 = 5 (True)
1 + 5 = 6 = 6 (True)
1 + 6 = 0 = 0 (True)
2 + 0 = 2 = 2 (True)
2 + 1 = 3 = 3 (True)
2 + 3 = 5 = 5 (True)
2 + 4 = 6 = 6 (True)
2 + 5 = 0 = 0 (True)
2 + 6 = 1 = 1 (True)
3 + 0 = 3 = 3 (True)
3 + 1 = 4 = 4 (True)
3 + 2 = 5 = 5 (True)
3 + 4 = 0 = 0 (True)
3 + 5 = 1 = 1 (True)
3 + 6 = 2 = 2 (True)
4 + 0 = 4 = 4 (True)
4 + 1 = 5 = 5 (True)
4 + 2 = 6 = 6 (True)
4 + 3 = 0 = 0 (True)
4 + 5 = 2 = 2 (True)
4 + 6 = 3 = 3 (True)
5 + 0 = 5 = 5 (True)
5 + 1 = 6 = 6 (True)
5 + 2 = 0 = 0 (True)
5 + 3 = 1 = 1 (True)
5 + 4 = 2 = 2 (True)
5 + 6 = 4 = 4 (True)
6 + 0 = 6 = 6 (True)
6 + 1 = 0 = 0 (True)
6 + 2 = 1 = 1 (True)
6 + 3 = 2 = 2 (True)
6 + 4 = 3 = 3 (True)
6 + 5 = 4 = 4 (True)

# Integer Subtraction over GF7

In [7]:
for x, y in permutations(range(7), 2):
  result1 = GF7(x) - GF7(y)
  result2 = add_grp.synthesize(x,add_grp.invert(y))
  passed = result1 == result2
  print('%s - %s = %s = %s (%s)' % (x,y,result1,result2, passed))

0 - 1 = 6 = 6 (True)
0 - 2 = 5 = 5 (True)
0 - 3 = 4 = 4 (True)
0 - 4 = 3 = 3 (True)
0 - 5 = 2 = 2 (True)
0 - 6 = 1 = 1 (True)
1 - 0 = 1 = 1 (True)
1 - 2 = 6 = 6 (True)
1 - 3 = 5 = 5 (True)
1 - 4 = 4 = 4 (True)
1 - 5 = 3 = 3 (True)
1 - 6 = 2 = 2 (True)
2 - 0 = 2 = 2 (True)
2 - 1 = 1 = 1 (True)
2 - 3 = 6 = 6 (True)
2 - 4 = 5 = 5 (True)
2 - 5 = 4 = 4 (True)
2 - 6 = 3 = 3 (True)
3 - 0 = 3 = 3 (True)
3 - 1 = 2 = 2 (True)
3 - 2 = 1 = 1 (True)
3 - 4 = 6 = 6 (True)
3 - 5 = 5 = 5 (True)
3 - 6 = 4 = 4 (True)
4 - 0 = 4 = 4 (True)
4 - 1 = 3 = 3 (True)
4 - 2 = 2 = 2 (True)
4 - 3 = 1 = 1 (True)
4 - 5 = 6 = 6 (True)
4 - 6 = 5 = 5 (True)
5 - 0 = 5 = 5 (True)
5 - 1 = 4 = 4 (True)
5 - 2 = 3 = 3 (True)
5 - 3 = 2 = 2 (True)
5 - 4 = 1 = 1 (True)
5 - 6 = 6 = 6 (True)
6 - 0 = 6 = 6 (True)
6 - 1 = 5 = 5 (True)
6 - 2 = 4 = 4 (True)
6 - 3 = 3 = 3 (True)
6 - 4 = 2 = 2 (True)
6 - 5 = 1 = 1 (True)

# Integer Multiplication over GF7

In [8]:
mul_grp = multiplicative_group(add_grp)

for x, y in permutations(range(7), 2):
  result1 = GF7(x) * GF7(y)
  result2 = mul_grp.synthesize(x,y)
  passed = result1 == result2
  print('%s * %s = %s = %s (%s)' % (x,y,result1,result2, passed))

0 * 1 = 0 = 0 (True)
0 * 2 = 0 = 0 (True)
0 * 3 = 0 = 0 (True)
0 * 4 = 0 = 0 (True)
0 * 5 = 0 = 0 (True)
0 * 6 = 0 = 0 (True)
1 * 0 = 0 = 0 (True)
1 * 2 = 2 = 2 (True)
1 * 3 = 3 = 3 (True)
1 * 4 = 4 = 4 (True)
1 * 5 = 5 = 5 (True)
1 * 6 = 6 = 6 (True)
2 * 0 = 0 = 0 (True)
2 * 1 = 2 = 2 (True)
2 * 3 = 6 = 6 (True)
2 * 4 = 1 = 1 (True)
2 * 5 = 3 = 3 (True)
2 * 6 = 5 = 5 (True)
3 * 0 = 0 = 0 (True)
3 * 1 = 3 = 3 (True)
3 * 2 = 6 = 6 (True)
3 * 4 = 5 = 5 (True)
3 * 5 = 1 = 1 (True)
3 * 6 = 4 = 4 (True)
4 * 0 = 0 = 0 (True)
4 * 1 = 4 = 4 (True)
4 * 2 = 1 = 1 (True)
4 * 3 = 5 = 5 (True)
4 * 5 = 6 = 6 (True)
4 * 6 = 3 = 3 (True)
5 * 0 = 0 = 0 (True)
5 * 1 = 5 = 5 (True)
5 * 2 = 3 = 3 (True)
5 * 3 = 1 = 1 (True)
5 * 4 = 6 = 6 (True)
5 * 6 = 2 = 2 (True)
6 * 0 = 0 = 0 (True)
6 * 1 = 6 = 6 (True)
6 * 2 = 5 = 5 (True)
6 * 3 = 4 = 4 (True)
6 * 4 = 3 = 3 (True)
6 * 5 = 2 = 2 (True)

# Integer Division in GF7

In [9]:
for x, y in permutations(range(7), 2):
  if y == 0:
    continue
  result1 = GF7(x) / GF7(y)
  result2 = mul_grp.synthesize(x,mul_grp.invert(y))
  passed = result1 == result2
  print('%s / %s = %s = %s (%s)' % (x,y,result1,result2, passed))

0 / 1 = 0 = 0 (True)
0 / 2 = 0 = 0 (True)
0 / 3 = 0 = 0 (True)
0 / 4 = 0 = 0 (True)
0 / 5 = 0 = 0 (True)
0 / 6 = 0 = 0 (True)
1 / 2 = 4 = 4 (True)
1 / 3 = 5 = 5 (True)
1 / 4 = 2 = 2 (True)
1 / 5 = 3 = 3 (True)
1 / 6 = 6 = 6 (True)
2 / 1 = 2 = 2 (True)
2 / 3 = 3 = 3 (True)
2 / 4 = 4 = 4 (True)
2 / 5 = 6 = 6 (True)
2 / 6 = 5 = 5 (True)
3 / 1 = 3 = 3 (True)
3 / 2 = 5 = 5 (True)
3 / 4 = 6 = 6 (True)
3 / 5 = 2 = 2 (True)
3 / 6 = 4 = 4 (True)
4 / 1 = 4 = 4 (True)
4 / 2 = 2 = 2 (True)
4 / 3 = 6 = 6 (True)
4 / 5 = 5 = 5 (True)
4 / 6 = 3 = 3 (True)
5 / 1 = 5 = 5 (True)
5 / 2 = 6 = 6 (True)
5 / 3 = 4 = 4 (True)
5 / 4 = 3 = 3 (True)
5 / 6 = 2 = 2 (True)
6 / 1 = 6 = 6 (True)
6 / 2 = 3 = 3 (True)
6 / 3 = 2 = 2 (True)
6 / 4 = 5 = 5 (True)
6 / 5 = 4 = 4 (True)

# Integer Exponentiation on GF

In [10]:
  for x, y in permutations(range(7), 2):
    if x == 1 or x == 0:
      continue
    result1 = GF7(x) ** y
    mul_grp.reset(x)
    result2 = mul_grp(y)
    passed = result1 == result2
    print('%s ** %s = %s = %s (%s)' % (x,y,result1,result2, passed))

2 ** 0 = 1 = 1 (True)
2 ** 1 = 2 = 2 (True)
2 ** 3 = 1 = 1 (True)
2 ** 4 = 2 = 2 (True)
2 ** 5 = 4 = 4 (True)
2 ** 6 = 1 = 1 (True)
3 ** 0 = 1 = 1 (True)
3 ** 1 = 3 = 3 (True)
3 ** 2 = 2 = 2 (True)
3 ** 4 = 4 = 4 (True)
3 ** 5 = 5 = 5 (True)
3 ** 6 = 1 = 1 (True)
4 ** 0 = 1 = 1 (True)
4 ** 1 = 4 = 4 (True)
4 ** 2 = 2 = 2 (True)
4 ** 3 = 1 = 1 (True)
4 ** 5 = 2 = 2 (True)
4 ** 6 = 1 = 1 (True)
5 ** 0 = 1 = 1 (True)
5 ** 1 = 5 = 5 (True)
5 ** 2 = 4 = 4 (True)
5 ** 3 = 6 = 6 (True)
5 ** 4 = 2 = 2 (True)
5 ** 6 = 1 = 1 (True)
6 ** 0 = 1 = 1 (True)
6 ** 1 = 6 = 6 (True)
6 ** 2 = 1 = 1 (True)
6 ** 3 = 6 = 6 (True)
6 ** 4 = 1 = 1 (True)
6 ** 5 = 6 = 6 (True)

# Timing

In [11]:
N=257
print('Addition (N=%d)' % N)

a = randint(0,N-1)
b = randint(0,N-1)

dut = galois.GF(N)
print('Device Under Test:', dut)
%timeit a + b
print()

dut = additive_group(incremental_set(0,N-1))
print('Device Under Test:', dut)
%timeit dut.synthesize(a,b)

Addition (N=257)
Device Under Test: <class 'galois.GF(257)'>
43.2 ns ± 0.97 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

Device Under Test: <Instance of additive_group at addr 140119896401920:
	identity = 0,
	members = array('i', [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256]),
	inverse = array('i', [0, 256, 255, 254, 253, 252, 251, 250, 249, 248, 247, 246, 245, 244, 243, 242, 241, 240, 239, 238, 237, 236, 235, 234, 233, 232, 231, 230, 229, 228, 227, 226, 225, 224, 223, 222, 221, 220, 219, 218, 217, 216, 215, 214, 213, 212, 211, 210, 209, 208, 207, 206, 205, 204, 203, 202, 201, 200, 199, 198, 197, 196, 195, 194, 193, 192, 191, 190, 189, 188, 187, 186, 185, 184, 183, 182, 181, 180, 179, 178, 177, 176, 175, 174, 173, 172, 171, 170, 169, 168, 167, 166, 165, 164, 163, 162, 161, 160, 159, 158, 157, 156, 155, 154, 153, 152, 151, 150, 149, 148, 147, 146, 145, 144, 143, 142, 141, 140, 139, 138, 137, 136, 135, 134, 133, 132, 131, 130, 129, 128, 127, 126, 125, 124, 123, 122, 121, 120, 119, 118, 117, 116, 115, 114, 113, 112, 111, 110, 109, 108, 107, 106, 105, 104, 103, 102, 101, 100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]),
	subop = <Instance of incremental_set at addr 140119897543520:
	index = 0,
	members = array('i', [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256])>,
	isBijective: True>

92.7 µs ± 25 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [12]:
N=257
print('Multiplication (N=%d)' % N)

a = randint(0,N-1)
b = randint(0,N-1)

dut = galois.GF(N)
print('Device Under Test:', dut)
%timeit a * b
print()

dut = multiplicative_group(additive_group(incremental_set(0,N-1)))
print('Device Under Test:', dut)
%timeit dut.synthesize(a,b)

Multiplication (N=257)
Device Under Test: <class 'galois.GF(257)'>
57.7 ns ± 12.3 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

Device Under Test: <Instance of multiplicative_group at addr 140119894844288:
	identity = 1,
	members = array('i', [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256]),
	inverse = [None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None],
	subop = <Instance of additive_group at addr 140119896968448:
	identity = 0,
	members = array('i', [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256]),
	inverse = array('i', [0, 256, 255, 254, 253, 252, 251, 250, 249, 248, 247, 246, 245, 244, 243, 242, 241, 240, 239, 238, 237, 236, 235, 234, 233, 232, 231, 230, 229, 228, 227, 226, 225, 224, 223, 222, 221, 220, 219, 218, 217, 216, 215, 214, 213, 212, 211, 210, 209, 208, 207, 206, 205, 204, 203, 202, 201, 200, 199, 198, 197, 196, 195, 194, 193, 192, 191, 190, 189, 188, 187, 186, 185, 184, 183, 182, 181, 180, 179, 178, 177, 176, 175, 174, 173, 172, 171, 170, 169, 168, 167, 166, 165, 164, 163, 162, 161, 160, 159, 158, 157, 156, 155, 154, 153, 152, 151, 150, 149, 148, 147, 146, 145, 144, 143, 142, 141, 140, 139, 138, 137, 136, 135, 134, 133, 132, 131, 130, 129, 128, 127, 126, 125, 124, 123, 122, 121, 120, 119, 118, 117, 116, 115, 114, 113, 112, 111, 110, 109, 108, 107, 106, 105, 104, 103, 102, 101, 100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]),
	subop = <Instance of incremental_set at addr 140119896401920:
	index = 0,
	members = array('i', [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256])>,
	isBijective: True>
,
	isBijective: False>

15.3 ms ± 4.25 ms per loop (mean ± std. dev. of 7 runs, 100 loops each)